<h1><%= @project.name %></h1>
<p>Status: <%= @project.status %></p>

<h2>Comments</h2>
<%= render @comments %>
<!-- For comments -->
<%= paginate @comments %>

<h2>Leave a Comment</h2>
<%= render 'comments/form' %>

<h2>Status Changes</h2>
<%= render @status_changes %>

<!-- For status changes -->
<%= paginate @status_changes %>

<h2>Change Status</h2>
<%= render 'status_changes/form' %>

<%= link_to 'Back', projects_path %>

